.outer-contact-div{
    display: flex;
    justify-content: space-evenly;
    margin-top:100px;
}
.contact h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    margin-bottom: 0;
}
.contact p{
    font-family: "Outfit", serif;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 20px;
}
#contact{
    font-size: 40px;
    margin-top: 0;
}
.contact-form input{
       width: 350px;
       height: 40px;
       margin-bottom: 10px;
       border-radius: 5px;
       border: 1px solid grey;
       margin-top: 2px;
}
.contact-form{
    width: 40%;
    position: relative;
    left:150px;
}
textarea{
    width: 350px;
    height: 150px;
    border-radius: 3px;
    font-size: 18px;
}
#msg{
    margin-bottom: 2px;
    font-size: 20px;
}
#submit{
    width: 350px;
    height: 50px;
    margin-top: 30px;
    border-radius: 50px;
    background-color: rgb(251, 149, 54);
    font-size: 20px;
    border:1px solid black;
}
.contact-form label{
    font-size: 20px;
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-on-load {
    animation: fadeIn 1.5s ease-in-out;
  }
  

