#resume {
    position: relative;
    left:188px;
}
.resume{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.resume-about{
    width: 30%;
}
hr{
    margin-top: 50px;
    width: 95%;
}
.resume h3{
    font-family: "Roboto", serif;
}
.resume-about p{
    letter-spacing: 2px;
    word-spacing: 2px;
    font-family: "Outfit", serif;
    font-weight: 600;
}