body{
    overflow-x: hidden;
}
#resume {
    position: relative;
    left:188px;
    margin-top:80px;
}
.resume{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.resume-about{
    width: 30%;
}
hr{
    margin-top: 50px;
    width: 95%;
}
.resume h3{
    font-family: "Roboto", serif;
    font-size: 25px;
}
.resume-about p{
    letter-spacing: 2px;
    word-spacing: 2px;
    font-family: "Outfit", serif;
    font-weight: 600;
    font-size:20px;
}
h2{
    font-size: 28px;
}
.resume-about span{
    font-size: 20px;
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-on-load {
    animation: fadeIn 1.5s ease-in-out;
  }
  
