body{
    background-color: #ecefef;
    font-family: Arial,Helvetica,sans-serif;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #ecefef;
    padding-top: 10px;
}
.title{
    font-size: 22px;
    font-weight: 600;
    margin-left: 50px;
    letter-spacing: 1px;
}
.nav-menu{
    margin-right: 45px;
   
}
.nav-menu a{
    gap:50px;
    text-decoration: none;
    font-family: "Outfit", serif ;
    font-weight: 600;
    letter-spacing: 1px;
    color: black;
    font-size: 18px;
    margin-right: 8px;
}
.about-section img{
    height: 400px;
    width: 400px;
    border-radius: 300px;
    margin-top: 50px;
}
.about-section{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.about{
    margin-left: -200px;
    margin-top: -50px;
    width: 500px
}
#about-text{
    font-size: 80px;
    margin-bottom: 0;
    text-wrap: wrap;
    font-weight: 700;
}
.para{
    font-weight: 600;
    font-family: "Outfit", serif;
    gap:5px;
    word-spacing: 5px;
    letter-spacing: 1px;
}
ul{
    padding-left: 0;
}
li{
    font-weight: 600;
    font-family: "Outfit",  serif;
    word-spacing: 5px;
    letter-spacing: 1px;
    color:rgb(73, 73, 73)
}
.link{
    height: 55px;
    width: 120px;
    font-family: "Outfit", serif;
    font-weight: 600;
    letter-spacing: 1px;
    gap:50px;
    background-color: black;
    color: white ;
    border: none;
    border-radius: 50px;
    position: relative;
    left: 53%;
    top:20px;
    margin-right: 20px;
    margin-bottom: 50px;
}
 .link img{
    height: 30px;
    width: 30px;
} 
.git{
    /* display: inline-flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    top:12px;
    right: 20px;
    z-index: 1;

}#btn2{
    width: 140px;
    text-align: start;
    padding-left: 30px;
    
}
.follow-logo img{
    height: 20px;
    width: 20px;
}
.item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 60px;
}
.footer-items p{
    line-height: 2px;
    font-family: "Outfit", serif;
    font-weight: 100;
}
p.item-info{
    font-family: "Outfit", serif;
    font-size: 20px;
    font-weight: 900;
}
.innerbody{
        opacity: 5;
        transform: translateY(20px); /* Slightly move down */
        transition: opacity 0.5s ease, ease-in 0.5s ease;
      
} 
